In [ ]:
import pandas as pd
import numpy as np

#Dtypes

#dtype = data type for a column in a dataframe or a series
#use it to grab the type of a specific column

reviews.price.dtype
#output: dtype('float64')

reviews.dtypes
#returns dtype of every column in the df

#float64 - 64-bit floating point number; int64 means similar sized integer, etc.
#columns with only strings do not get their own type -> object
#possible to convert columns using astype()

reviews.points.astype('float64')
#points is int64, so output shows all values but as floats (e.g. 80.0 instead of 80)

reviews.index.dtype
#output: dtype('int64')

#pandas also supports other dtypes like categorial data and timeseries



#Missing data

#NaN = not a number -> always float64 type
#pd.isnull() - select NaN entries
#pd.notnull() - select not-NaN entries

reviews[pd.isnull(reviews.country)]
#returns table with only rows where country is NaN, sorted by index

#fill(na) - replace missing values

reviews.region_2.fillna('Unknown')
#output: 
#0         Unknown
#1         Unknown
#           ...   
#129969    Unknown
#129970    Unknown
#Name: region_2, Length: 129971, dtype: object

#replacing non-null values - e.g. reviewer changed twitter handle
#replace()

reviews.taster_twitter_handle.replace('@kerinokeefe', '@kerino')
#output returns list of all taster twitter handles, but previous value has been replaced with new one

#replace handy for replacing missing data that is given values like "unknown", "invalid", "undisclosed" etc.